include *.cfg
include *.ini

recursive-include docs *.rst *.txt Makefile *.py
recursive-include xoeuf *.py *.txt *.rst

graft docs/
prune docs/build
prune .tox
include versioneer.py
include xoeuf/_version.py
